{# templates/task-summarize-ticket.jinja #}
Please summarize the following support ticket.

Customer: {{ customer_name }}
Ticket ID: {{ ticket_id }}
Urgency: {{ urgency }}

--- TICKET TEXT ---
{{ ticket_text }}
--- END TICKET TEXT ---
